.career1{
    width: 1440px;
    height: 200px;
    margin-top: 90px;
    background-image: url('/image/careerbg1.png');
    &__h1{
        position: absolute;
        width: 226px;
        height: 56px;
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
        margin: 72px 0px 0px 165px;
    }
}
.career2{
    width: 1110px;
    height: 608px;
    margin: 120px 0px 0px 165px;
    &__h2{
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
        color: #495567;
    }
    &__boxes{
        display: flex;
        justify-content: space-between;
        width: 1110px;
        height: 512px;
        margin-top: 40px;
        &__box{
            width: 350px;
            height: 512px;
            &__img{
                margin-left: 55px;
            }
            &__h3{
                font-family: 'Space Mono';
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                letter-spacing: -1.07143px;
                margin-top: 80px;
                color: #495567;
            }
            &__p{
                font-family: 'Lexend Deca';
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #939CAA;
                margin-top: 27px;
            }
        }
    }
}
.career3{
    width: 1110px;
    height: 888px;
    margin: 0 auto;
    &__box{
        display: flex;
        width: 1110px;
        height: 128px;
        margin-top: 10px;
        background: #F2F5F9;
        &__title{
            width: 650px;
            height: 61px;
            margin: 32px 0px 0px 40px;
            &__h3{
                font-family: 'Space Mono';
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -1.07143px;
                color: #495567;
            }
            &__p{
                font-family: 'Lexend Deca';
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                color: #495567;
            }
        }
        &__a{
            font-family: 'Space Mono';
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
            width: 140px;
            height: 33px;
            padding: 5px 10px;
            margin: 38px 0px 0px 195px;
            background-color: #FCB72B;
        }
        &__a:hover{
            color: #FCB72B;
            background-color: transparent;
            border: 3px solid #FCB72B;
        }
    }
}


@media only screen and (max-width:768px) {
    .career1{
        width: 768px;
        height: 200px;
        background-image: url('/image/careerbg2.png');
        &__h1{
            margin-left: 60px;
        }
    }
    .career2{
        width: 457px;
        height: 1670px;
        margin-left: 144px;
        &__boxes{
            display: block;
            width: 100%;
            height: 1600px;
            margin-top: 25px;
            &__box{
                margin-left: 55px;
                margin-top: 10px;
            }
        }
    }
    .career3{
        width: 689px;
        height: 848px;
        &__box{
            width: 100%;
            &__title{
                margin-left: 20px;
            }
            &__a{
                margin-left: 0;
            }
        }
    }
}


@media only screen and (max-width:376px) {
    .career1{
        width: 100%;
        &__h1{
            font-weight: 700;
            font-size: 40px;
            line-height: 40px;
            margin-left: 110px;
        }
    }
    .career2{
        width: 311px;
        height: 1520px;
        margin-left: 32px;
        &__h2{
            width: 311px;
            height: 32px;
        }
        &__boxes{
            margin: 90px 0px 0px 0px;
            &__box{
                width: 311px;
                height: 459px;
                margin-left: 0;
                &__img{
                    margin-left: 36px;
                }
            }
        }
    }
    .career3{
        display: block;
        width: 311px;
        height: 1220px;
        margin-top: 30px;
        &__box{
            width: 311px;
            height: 190px;
            &__title{
                width: 247px;
                height: 53px;
                text-align: center;
                margin-left: 30px;
            }
            &__a{
                width: 247px;
                height: 53px;
                margin-top: 110px;
                margin-left: 20px;
                text-align: center;
                position: absolute;
            }
        }
    }
}